:root * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: antiquewhite;
    display: flex;
    justify-content: center;
}
.section {
    background: yellow;
    height: 80%;
    width: min(1200px, 80%);
    padding: 1rem;
    margin-top: 1rem;
    background: brown;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.book-card, .newbook-form {
    width: 100%;
    height: max-content;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    background: lightcyan;
}
.book-card, .book-stand-heading {
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}
.newbook-form {
    grid-template-columns: repeat(5, minmax(6rem, 1fr));
}
.newbook-label {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.newbook-input {
    font-size: 1rem;
    padding: 0.2rem
}
#book-stand {
    width: 100%;
    background: orange;
    display: grid;
    grid-template-columns: repeat(auto-fill, max-content);
    height: max-content;
}
#book-stand p {
    display: inline;
}
.book-stand-heading {
    font-weight: bold;
}